@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    --shadows: #060610; /* main / 3 */
    --bg-main: #121230; /* main colour */
    --bg-light: #1b1b48; /* main * 1.5 */
    --c1: #242460; /* currently unused and unnamed shade */
    --c2: #30307e; /* currently unused and unnamed shade */
    --c3: #4848c0; /* currently unused and unnamed shade */
    --c4: #6060fc; /* currently unused and unnamed shade */

    --accent-shadows: #061010;
    --accent-main: #102a2a;
    --accent-light: #246060;
    --accent-text-dark: #307e7e;
    --accent-text: #48c0c0;
    --accent-text-light: #90fcfc;

    --text-dark: #8892aa;
    --text: #ccddff;

    --anim-duration: 0.1s; /* duration of animations like the hover effect */
    --border-radius: 25px; /* border radius for buttons and tiles */
    --button-border: 0.15rem; /* border thickness of buttons and tiles */
    --button-height: 5rem; /* height of most buttons */
    --button-gap: 1rem; /* default gap between buttons or tiles */
    --hover-dist: 0.25rem; /* translation distance for hover effects */
    --hover-dist-neg: calc(-1 * var(--hover-dist));
    --press-dist: 0.25rem; /* y-distance for button press effects */
    --main-img-size: 7.5rem; /* width and/or height of the main image (e.g. "about me") */
}

/* scrollbar styling for chromium based browsers */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--text-dark);
    border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text);
}

body {
    background-color: var(--bg-main);
    color: var(--text);
    text-align: center;
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0 1rem 6.5rem;
}

a {
    text-decoration: none;
    color: var(--text);
}

footer {
    display: flex;
    flex-direction: column;

    height: fit-content;
    position: fixed;
    bottom: -1rem;
    right: 0;
    left: 0;
    padding: 0.5rem 0 1rem;

    background-color: var(--accent-main);
    border: 0.1rem solid var(--shadows);
    border-radius: 7rem 7rem 0 0;
    box-shadow: 0 0 0.5rem 0.2rem var(--shadows),
        inset 0 0 0.5rem 0.2rem var(--shadows);

    z-index: 999;
}

#footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}

#footer-links img {
    width: 3rem;
    max-height: 3rem;
    padding: 0.5rem 0.3rem;
}

#footer-links a {
    text-decoration: none;
}

#footer-links a:focus-visible {
    border-radius: var(--border-radius);
    background-color: var(--accent-light);
}

#copy {
    min-height: fit-content;
    align-self: self-end;
    margin-right: 2rem;
    margin-top: -0.5rem;
}

/* Unified style for activatable (clickable) buttons and tiles. */
.activatable:active {
    background-color: var(--accent-main);
    translate: 0 var(--press-dist);
    transition: var(--anim-duration) ease-out;
}

@media (hover: hover) and (pointer: fine) {
    /* Unified style for elements with hover animation. */
    .hoverable:hover {
        background-color: var(--bg-light);
        translate: var(--hover-dist-neg) var(--hover-dist-neg);
        box-shadow: var(--hover-dist) var(--hover-dist) var(--hover-dist)
            var(--hover-dist) var(--shadows);
        transition: var(--anim-duration) ease-in-out;
    }

    /* Unified style for activatable (clickable) buttons and tiles with a hover animation. */
    .hoverable.activatable:active {
        background-color: var(--accent-main);
        translate: var(--hover-dist-neg)
            calc(var(--press-dist) - var(--hover-dist));
    }
}

/* Unified style for focusable buttons and tiles. */
.focusable:focus-visible {
    border: var(--button-border) solid var(--accent-text);
    box-shadow: inset 0 0 2rem 1rem var(--accent-light);
}

@media (min-width: 42rem) {
    body {
        padding-bottom: 5rem;
    }

    footer {
        padding-bottom: 0.5rem;
    }

    #copy {
        position: absolute;
        bottom: 1rem;
        right: 0;
    }
}
