@import '/base.css';
@import '/tiles.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - var(--footer-height));
}

main {
    padding: var(--section-padding);
}
