@import '/base.css';
@import '/tiles.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - var(--footer-height));
}

main {
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    gap: calc(2 * var(--item-gap));
}
