@import '/base.css';
@import '/tiles.css';
/* IDEA https://1stwebdesigner.com/pure-css-navigation-menus/ */

main {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--item-gap));

    padding: var(--section-padding);

    overflow-y: auto;
    overflow-x: hidden;
}

#about {
    flex: 1;
    padding: var(--section-padding);

    overflow-y: auto;
    overflow-x: hidden;
}

#about-image {
    width: var(--main-img-size);
}

#about-text {
    margin: 0 auto 2em;
}

#about-links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    width: fit-content;
    gap: calc(0.5 * var(--item-gap));
    margin: 0 auto;
    text-align: left;
}

#about-links a {
    display: flex;
    align-items: center;

    height: var(--button-height);
    padding-right: 1em;
    border: var(--button-border) solid var(--text);
    border-radius: var(--border-radius);

    z-index: 1; /* above content to stay clickable */
}

#about-links img {
    max-height: 3em;
    width: 3em;
    margin: auto 1em;
}

@media (min-width: 30em) {
    body {
        display: flex;
        align-items: center;

        padding-bottom: 0;
    }

    main {
        padding-bottom: var(--section-bottom-padding);
        width: fit-content;
        min-width: max(20em, 50dvw);
        max-height: var(--section-height);
    }

    #about {
        padding-bottom: var(--section-bottom-padding);
        max-height: var(--section-height);
        width: 40dvw;
        min-width: 40dvw;
        margin-bottom: 0;
    }
}
