@import '/base.css';

#logo {
    width: 7.5rem;
    margin-top: 2rem;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

ul {
    text-align: left;
    margin: 0 auto;
    width: 90%;
    max-width: fit-content;
}

li {
    padding: 0.25rem 0;
}

main {
    padding: 2rem 2rem 0;
    text-wrap: balance;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--button-gap);
}

main a {
    width: fit-content;
    min-width: fit-content;
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--button-height);
    text-decoration: none;

    color: var(--text);
    padding: 0 1rem;
    border: var(--button-border) solid var(--text);
    border-radius: var(--border-radius);

    transition: var(--anim-duration) ease-in-out;
}

@media (min-width: 70rem) {
    body {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: calc(100vh - 5rem);
    }

    #info {
        overflow-y: scroll;
        padding-bottom: 1rem;
        max-height: calc(100vh - 6rem);
        width: 60vw;
        min-width: 42rem;
    }

    main {
        flex-direction: column;
        flex-wrap: nowrap;

        overflow-y: scroll;
        padding-bottom: 1rem;
        max-height: calc(100vh - 8rem);
        width: 40vw;
        min-width: 28rem;
    }

    main a {
        width: 90%;
        flex-grow: 0;
    }
}
