@import 'base.css';

#welcome {
	margin: 2rem 0 5rem;
	font-size: 64pt;
}

#logo {
	width: 25rem;
	margin: 5rem 0 0;
	padding: 0;
}

main {
	font-size: 18pt;
}

main ul {
	text-align: left;
	margin: auto auto 4rem;
	width: 90%;
}

main li {
	padding: 2px 0;
}

.features {
	max-width: fit-content;
}

.btnSec {
	margin: 2rem 2rem 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.btnSec a {
	width: 90%;
	max-width: 100rem;

	color: #cdf;
	font-size: 20pt;
	padding: 2rem;
	border: 2px solid #cdf;
	border-radius: 10px;

	transition: 0.1s ease-in-out;
}

@media (pointer: coarse) {
	.btnSec a:active {
		background-color: #10102a;
		translate: 0 3px;
		transition: 0.1s ease-out;
	}
}

@media (pointer: none), (pointer: fine) {
	.btnSec a:hover {
		background-color: #1b1b48;
		translate: -5px -5px;
		box-shadow: 5px 5px 5px 5px #060610;
		transition: 0.1s ease-in-out;
	}

	.btnSec a:active {
		background-color: #10102a;
		translate: -5px -2px;
		transition: 0.1s ease-out;
	}
}
