@import '/base.css';

#logo {
    width: var(--main-img-size);
}

#info {
    display: flex;
    flex-direction: column;
    gap: var(--item-gap);

    padding: var(--section-padding-no-h1);
}

ul {
    text-align: left;
    margin: 0 auto;
    width: 90%;
    max-width: fit-content;
}

li {
    padding: 0.25em 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--item-gap);

    padding: var(--section-padding-no-h1);
}

main a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 10%;

    height: var(--button-height);
    padding: 0 1em;
    border: var(--button-border) solid var(--text);
    border-radius: var(--border-radius);
}

@media (min-width: 30em) {
    body {
        display: flex;
        align-items: center;
        overflow: hidden;

        padding-bottom: 0;
    }

    #info {
        overflow-y: auto;
        overflow-x: hidden;

        padding-bottom: var(--section-bottom-padding);
        width: fit-content;
        min-width: max(20em, 50dvw);
        max-height: var(--section-height-no-h1);
        width: 60vw;
    }

    main {
        overflow-y: auto;
        overflow-x: hidden;

        padding-bottom: var(--section-bottom-padding);
        max-height: var(--section-height-no-h1);
        width: 40dvw;
        min-width: 40dvw;
    }
}
